body {
    text-align: center;
    font-family: Verdana, sans-serif;
}

label {
    color: #6f6e77;
}

input {
    padding: 12px 16px;
    background: #ffffff;
    border: 2px solid #dcdbdd;
    border-radius: 4px;
}

button {
    padding: 12px 16px;
    margin-top: 5px;
    background: hsl(330, 74%, 77%);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: hsl(330, 93%, 73%)
}